* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#form {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

#cats li {
  font-size: 30px;
  font-weight: bold;
  text-align: end;
  list-style: none;
}

#cats-gender li {
  font-size: 30px;
  font-weight: bold;
  text-align: end;
  list-style: none;
}

#cats-gender li i {
  font-size: 35px;
}

.blue i {
  color: #82C5F9;
}

.pink i {
  color: #F775C8;
}

.giovane i {
  opacity: 0.4;
}

.adulto i {
  opacity: 1;
}
